{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'wsl2_management_tools/bootstrap4/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'wsl2_management_tools/jquery/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wsl2_management_tools/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">

    <h2 class="text-center m-4">Windows子系统及端口转发管理系统V1.0</h2>

    <form action="{% url 'add_port_wall_all' %}" class="form">
        <div class="form-group">
            <textarea name="ports" class="form-control" placeholder="输入要添加的端口号" title="端口号" rows="4"></textarea>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-block">添加端口</button>
        </div>
    </form>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="4" class="text-center">
                Windows子系统管理 <span class="text-primary">（{{ wsl_ip }}）</span>
            </th>
        </tr>
        <tr>
            <th class="text-center align-middle">名称</th>
            <th class="text-center align-middle">状态</th>
            <th class="text-center align-middle">版本</th>
            <th class="text-center align-middle">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for wsl in wsl_info %}
            <tr>
                <td class="text-center align-middle">
                    {{ wsl.name }}
                    {% if wsl.is_default %}<span class="text-primary">(默认)</span>{% endif %}
                </td>
                <td class="text-center align-middle">{{ wsl.state }}</td>
                <td class="text-center align-middle">{{ wsl.version }}</td>
                <td class="text-center align-middle">
                    {% if wsl.state == 'Running' %}
                        <a href="" class="btn btn-danger btn-sm">停止</a>
                    {% endif %}
                    {% if wsl.state == 'Stopped' %}
                        <a href="" class="btn btn-info btn-sm">启动</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="4" class="text-center">
                端口转发管理
            </th>
        </tr>
        <tr>
            <th class="text-center align-middle">端口</th>
            <th class="text-center align-middle">映射IP</th>
            <th class="text-center align-middle">监听地址</th>
            <th class="text-center align-middle">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for port in ports %}
            <tr>
                <td class="text-center align-middle">{{ port.port }}</td>
                <td class="text-center align-middle">{{ port.ip }}</td>
                <td class="text-center align-middle">{{ port.addr }}</td>
                <td class="text-center align-middle">
                    <a href="{% url 'del_port_wall_all' %}?ports={{ port.port }}&ip={{ port.ip }}&addr={{ port.addr }}" class="btn btn-danger btn-sm">删除</a>
                    {% if port.ip != wsl_ip %}
                        <a href="{% url 'update_port_wall_all' %}?ports={{ port.port }}&ip={{ port.ip }}&addr={{ port.addr }}" class="btn btn-info btn-sm">更新</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>